{% extends "layout.html" %}
{% block content %}
      <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.round.label(class="form-control-label") }}
                    {{ form.round(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.lookback.label(class="form-control-label") }}
                    {{ form.lookback(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.isGetData(class="checkbox") }}
                    {{ form.isGetData.label(class="form-control-label") }}
                </div>
            </fieldset>
            {{ form.submit(class="btn btn-outline-info") }}
        </form>
    </div>

    <h2>Round {{ round }}, {{ lookback }} rounds back </h2>

    {% for table in tables %}
        <article class="table" style="float: left">
            <div class="media-body">
                <div class="article-metadata">
                    <h2> {{table[1]}} </H2>
                    {{ table[0] }}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}